* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

:root {
  --section-green: #39ac74;
  --section-light: #eee;
}
/* var(--section-light)*/

body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  background: var(--section-light);
  cursor: default;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.column {
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  -o-flex-flow: column wrap;
  flex-flow: column wrap;
}

.rang {
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
}

.bleu {
  background: #185d7e;
}

.jaune {
  background: #f6b036;
}

a {
  color: white;
}

/*=============================== HEADER ==================================*/

header {
  height: 100vh;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  padding-top: 60px;
}

nav {
  background: #185d7e;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  font-size: 1.2em;
  z-index: 500;
  color: white;
  align-items: center;
}

.name {
  display: none;
}

nav ul {
  margin-top: 5px;
}

nav li {
  margin: 0 10px;
}

.sousMenu {
  padding: 10px;
}

.sousMenu:hover {
  color: #f6b036;
}

.sousMenu:active {
  color: #f6b036;
}

.dlcv a {
  border: 1px solid #165573;
  width: 10%;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

.dlcv a i {
  margin: 5px 5px;
}

.dlcv {
  position: fixed;
  top: 10px;
  right: 20px;
}

.dlcv a:hover {
  color: var(--section-light);
  background: #1f7fad;
}

.icon-menu {
  display: none;
}

.home {
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -o-flex-direction: row-reverse;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin: 0;
  padding: 0 30px;
  height: 100%;
}

.home-content {
  height: 100%;
  justify-content: space-around;
  align-items: flex-start;
}

header h1 {
  font-size: 8rem;
  color: #10435c;
}

.accroche h3 {
  color: #f6b036;
  font-size: 1.8em;
  font-family: 'Courier Prime', monospace;
}

.pp {
  border-radius: 50%;
  display: block;
  margin: auto;
}

@media all and (max-width: 740px) {
  .accroche h3 {
    font-size: 1.5em !important;
  }
}

@media all and (orientation: landscape) {
  .title h1 {
    font-size: 12vh;
  }

  .pp {
    height: 60vh;
    width: auto;
  }
}

@media all and (orientation: portrait) and (max-width: 350px) {
  .pp {
    width: 80vw !important;
    height: auto !important;
  }
}

@media all and (orientation: portrait) {
  .pp {
    width: 80vw;
    height: auto;
  }
}

@media all and (max-height: 555px) {
  .accroche h3 {
    font-size: 5vh !important;
  }

  .reseau i {
    font-size: 30px !important;
  }

  .reseau img {
    height: 30px !important;
  }
}

@media all and (max-height: 620px) {
  .pp {
    height: 60vh;
    width: auto;
  }
}

.reseau {
  margin: 0 auto;
  align-items: center;
}

.accroche {
  margin-top: 5rem;
}

.reseau i {
  font-size: 40px;
  margin: 0 10px;
}

.reseau img {
  height: 40px;
  width: auto;
  display: block;
  margin: 0 10px;
}

.linkedn {
  color: #2767b2;
}

.github {
  color: #000;
}

/*============================= MAIN ==================================*/

main section {
  padding: 70px 0 40px;
}

main section h3 {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 0;
}

.ligne {
  display: block;
  margin: 20px auto 100px;
  height: 2px;
  width: 10rem;
}

/*================ A PROPOS =====================*/
#moi {
  background-color: #fff1eb;
  padding: 50px 30px 90px 30px;
}
#moi h3 {
  color: #185d7e;
}
#moi article {
  font-size: 1.2em;
  text-align: center;
  padding: 0 20px;
}
#moi article p {
  margin-bottom: 30px;
}
#moi a {
  color: black;
}
.aboutMe img {
  margin: auto;
  height: 80px;
  width: auto;
}
.aboutMe .logo-ecole img:hover {
  border-radius: 5px;
  box-shadow: 0 0 3pt 2pt #e92b58;
}

/*======================= COMPETENCE ==================================*/
#competence {
  background: var(--section-green);
  color: white;
  padding-bottom: 0px;
}

.skills {
  justify-content: space-around;
  margin: 0 10px;
}

.front {
  margin-left: 20px;
}

#competence article h4 {
  text-align: center;
  text-decoration: underline;
  font-size: 1.5em;
}

#competence ul {
  font-size: 1.2em;
}

.separation {
  display: block;
  width: 2px;
  height: 165px;
  background: #185d7e;
}

.case:nth-child(even) {
  align-self: flex-end;
}

.logo {
  margin-top: 90px;
  height: 100px;
  background: var(--section-light);
  align-items: flex-start;
  justify-content: space-around;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.case {
  justify-content: space-around;
  height: 200px;
}

.case img {
  height: 80px;
}

@media all and (max-width: 991px) {
  .case img,
  #moi img {
    height: 60px;
  }

  .logo {
    height: 80px;
  }

  .case {
    height: 160px;
  }
}

@media all and (max-width: 775px) {
  .case img,
  #moi img {
    height: 40px;
  }

  .logo {
    height: 60px;
  }

  .case {
    height: 120px;
  }
}

@media all and (max-width: 575px) {
  .case img {
    margin-left: 50px;
    margin-right: 50px;
  }

  .logo {
    margin-top: 50px;
  }

  .case {
    align-items: center;
    height: 60px;
  }
}
@media all and (min-width: 992px) {
  #portfolio .contenu,
  #exp .contenu {
    display: grid;
  }
}
/*=========================== PORTFOLIO ====================================*/
#portfolio {
  background: var(--section-green);
  color: #fff;
}
#portfolio .contenu {
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
}
.carte {
  transition: all 0.5s ease-in-out;
  width: 250px;
  height: auto;
  perspective: 1000px;
  border-radius: 10px;
  margin: 20px auto;
  cursor: pointer;
}
.carte img {
  width: 100%;
  height: auto;
}
.carte i {
  font-size: 26px;
}
@media all and (min-width: 992px) {
  .carte:hover {
    transform: scale(1.1, 1.1) !important;
  }
}
@media all and (max-width: 765px) {
  .carte {
    width: 200px;
    height: auto;
  }
  .carte img {
    width: 200px !important;
    height: auto !important;
  }
}
.toggleCard {
  box-shadow: 1px 1px 12px rgb(63, 63, 63);
  border-radius: 10px;
}
.carteVerso {
  padding: 0 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: #000;
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0;
}
.carteVerso button {
  border: none;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background: #ffc300;
}
.ombre {
  box-shadow: 1px 1px 12px rgb(63, 63, 63);
}
.carte img {
  display: block;
  width: 250px;
  height: 330px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/*============================= FORMATION ==================================*/
#formation {
  background: var(--section-light);
}

#formation div {
  font-size: 1.2em;
  justify-content: center;
}

#formation h3 {
  color: #185d7e;
}

/*=============== DESSIN ==================*/
.joli {
  margin: 0 10px;
}

.dateformation {
  text-align: right;
}

#formation .boule {
  /* cercle de séparation */
  margin-left: auto;
  margin-right: auto;
  margin: 5px 0;
  width: 0.4em;
  height: 0.4em;
  background-color: #2e4875;
  border-radius: 50%;
}

.joli div {
  /* trait de séparation */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 2px;
  background: #2e4875;
}

.trait1 {
  height: 1.9em;
}

.trait2 {
  height: 5.2em;
}

.trait3 {
  height: 5em;
}

.ligne1,
.ligne2,
.ligne3,
.ligne4 {
  height: 7em;
}

.etude,
.dateformation {
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -o-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-top: 2em;
}

/*================================= EXP PRO ==================================*/
#exp {
  background: var(--section-green);
  color: white;
}

.work {
  margin: auto;
  height: auto;
}

.blanc {
  background: #fff;
  height: 5px;
  width: 100%;
}

.contenant {
  position: relative;
  background: var(--section-green);
  color: black;
  font-size: 1.2em;
  opacity: 0;
  z-index: 100;
}

#exp .contenu {
  grid-template-columns: repeat(6, 1fr);
  padding: 15px;
}
.contenu-exp {
  background: #fff;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}
.haut:nth-child(1) {
  grid-column: 2/3;
}
.haut:nth-child(2) {
  grid-column: 4/5;
}
.bas:nth-child(4) {
  grid-column: 3/4;
}
.bas:nth-child(5) {
  grid-column: 5/6;
}
#exp .line {
  grid-column: 1/7;
  margin: 10px auto;
  position: relative;
  left: -1000px;
}

/* fleches haut puis bas */
.haut .contenu-exp::before {
  content: ' ';
  height: 0;
  position: absolute;
  bottom: 0;
  left: 45%;
  margin-left: -7px;
  width: 0;
  z-index: 1;
  border: medium solid white;
  border-width: 10px 10px 0 10px;
  border-color: white transparent transparent transparent;
  margin-bottom: 5px;
}
.haut .contenu-exp {
  margin-bottom: 15px;
}
.bas .contenu-exp {
  margin-top: 15px;
}
.bas .contenu-exp::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -7px;
  width: 0;
  z-index: 1;
  border: medium solid white;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent white transparent;
  margin-top: 5px;
}

/* The circles on the timeline */
.bas::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  margin-left: -11px;
  background-color: white;
  border: 4px solid #ff9f55;
  top: -27px;
  border-radius: 50%;
  z-index: 1;
}

.haut::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 45%;
  margin-left: -11px;
  background-color: white;
  border: 4px solid #ff9f55;
  bottom: -27px;
  border-radius: 50%;
  z-index: 1;
}
.contenant.activated {
  animation: fadeIn 2s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.blanc.line.activated {
  animation: slideIn 1s;
  animation-fill-mode: forwards;
}
@keyframes slideIn {
  from {
    left: -1000px;
  }
  to {
    left: 0;
  }
}

/*================================== DIVERS ==============================*/
#divers h3 {
  color: #185d7e;
}

#divers ul {
  justify-content: center;
}

#divers li {
  margin: 10px;
  text-align: center;
  padding: 2rem;
  border-radius: 50%;
  background: #185d7e;
  color: white;
}

#divers i {
  font-size: 200%;
  margin-bottom: 5px;
}

.interest {
  justify-content: center;
}

/*============================== CONTACT ==================================*/
#contact {
  background: var(--section-green);
  color: #fff;
}

#contact a {
  color: #185d7e !important;
}

.contact {
  justify-content: space-around;
}

#contact ul {
  font-size: 1.2em;
  text-align: left;
}

#contact i {
  margin-right: 10px;
}

#contact .ligne {
  margin-bottom: 0;
}

#contact aside {
  border: 1px solid #2a7d55;
  border-radius: 10px;
  background: #fff;
  color: #185d7e;
  padding: 10px;
}

#contact li {
  margin: 5px 0;
}

.hide {
  display: none;
}

.invers {
  unicode-bidi: bidi-override;
  direction: rtl;
}

/*=============== MODAL =====================*/
.modal-btn {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #2a7d55;
  cursor: pointer;
}

.titre-btn {
  color: #185d7e;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.modal-btn:hover {
  background: #bebebe;
}

.modal-btn .ligne {
  margin-bottom: 0;
}

.modalWindow {
  display: none;
  position: fixed;
  padding-top: 100px;
  width: 50%;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  position: relative;
  background: #cbe4ff;
  margin: auto;
  width: 50%;
  height: 35rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 10px;
  padding: 10px;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/******* CONTACTEZ MOI ********/
.container {
  height: 100%;
}

.formulaire {
  margin: auto;
  color: black;
  height: 100%;
}

.formulaire form {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin-top: 15px;
}

.modalContent form .ligne {
  margin-bottom: 40px;
}

.modalContent input,
textarea {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #cccfd2;
}
form input {
  width: 100%;
  height: 35px;
}
.input {
  width: 45%;
}

textarea {
  width: 100%;
  resize: none;
}

.modalContent form .ligne {
  margin-bottom: 20px !important;
}

.heading h2 {
  text-transform: uppercase;
  text-align: center;
}
.comments {
  color: #d82c2e;
  height: 25px;
  font-style: italic;
  font-size: 18px;
}
.blue {
  color: #0069d6;
}
.button {
  margin: auto;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  width: 50%;
  color: #fff;
}
form div {
  justify-content: space-around;
}
.close {
  color: white;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.requis {
  font-weight: bold;
  margin-bottom: 20px;
}
.envoyer {
  text-align: center;
}
.thank-you {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  font-size: 22px;
}
@media all and (max-width: 760px) {
  .modalContent {
    height: 80vh;
  }
}

/*================================ FOOTER ====================================*/

footer {
  text-align: center;
  background: #185d7e;
  padding: 10px 0;
  color: white;
}

/*==============================================================================*/
/*============================ MEDIA QUERY ====================================*/
/*=============== 1140 PX ===============*/
@media all and (max-width: 1140px) {
  #exp .contenu {
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
  }
  .haut:nth-child(1) {
    grid-column: 1/2;
  }
  .haut:nth-child(2) {
    grid-column: 3/4;
  }
  .bas:nth-child(4) {
    grid-column: 2/3;
  }
  .bas:nth-child(5) {
    grid-column: 4/5;
  }
}
/*========== 992 PX =================*/

@media all and (max-width: 991px) {
  #competence .skills {
    -webkit-flex-direction: column !important;
    -moz-flex-direction: column !important;
    -ms-flex-direction: column !important;
    -o-flex-direction: column !important;
    flex-direction: column !important;
    text-align: center;
  }

  .frontend div {
    -webkit-flex-direction: row !important;
    -moz-flex-direction: row !important;
    -ms-flex-direction: row !important;
    -o-flex-direction: row !important;
    flex-direction: row !important;
    justify-content: center;
  }

  .separation {
    display: none;
  }

  #competence article:not(:last-child) {
    border-bottom: 1px solid #369f6c;
  }

  #competence article {
    padding: 20px;
  }

  .contenu {
    overflow: hidden;
    display: none;
  }

  .collapse {
    display: block;
  }

  .ligne {
    margin: 20px auto 0;
  }

  section {
    cursor: pointer;
  }

  .interest {
    justify-content: center;
  }
  .projet,
  .cursus,
  .work,
  .interest,
  #contact ul {
    margin: 50px 0;
  }

  #exp aside ul {
    width: 45%;
  }

  .menu {
    background: #1e7097;
    position: relative;
    top: 20px;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .icon-menu {
    display: block;
    position: fixed;
    top: 10px;
    left: 20px;
  }

  .icon-menu i {
    font-size: 2rem;
  }

  .accueil {
    display: none;
  }

  .menu ul {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    margin-top: 0;
  }

  .menu li {
    padding: 5px;
    margin: 0;
  }

  .name {
    display: block;
  }

  nav {
    justify-content: center;
  }

  .home {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    display: none;
  }

  .accroche {
    margin: 10px 0;
    text-align: center;
  }

  /*============== MODAL ====================*/
  .modalContent {
    width: 80%;
  }
}

/*============= 575 PX ==================*/
@media all and (max-width: 575px) {
  main section {
    padding: 50px 0;
  }
  main section #competence {
    padding-bottom: 0;
  }
  h3 {
    font-size: 1.8em !important;
  }
  #portfolio .contenu {
    display: none;
    grid-template-columns: auto;
  }
  .joli {
    display: none;
  }
  #formation div {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }

  #formation,
  .dateformation {
    text-align: center !important;
  }

  .dateformation {
    font-weight: bold;
  }

  .dateformation p {
    border-bottom: 1px solid #ccc;
  }

  .cursus {
    position: relative;
  }

  .etude {
    position: absolute;
    display: block;
    top: 2.5rem;
    margin: 0 auto;
  }

  #formation .cursus div {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: auto;
    align-items: center;
  }

  .dlcv span {
    display: none;
  }

  .dlcv {
    right: 10px !important;
  }

  .icon-menu {
    left: 10px;
  }

  #exp .contenu {
    grid-template-columns: 1fr 20px 1fr;
    position: relative;
    padding: 30px 0;
  }
  .haut:nth-child(1) {
    grid-column: 3;
    grid-row: 4;
  }
  .haut:nth-child(2) {
    grid-column: 3;
    grid-row: 2;
  }
  .bas:nth-child(4) {
    grid-column: 1;
    grid-row: 3;
  }
  .bas:nth-child(5) {
    grid-column: 1;
    grid-row: 1;
  }
  #exp .line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 100%;
  }
  #exp .line.activated {
    animation: fadeIn 1s;
  }
  .contenant.haut {
    margin-left: 10px;
  }
  .contenant.bas {
    margin-right: 10px;
  }
  .contenu-exp {
    margin: 0 10px;
    width: 100%;
    font-size: 15px;
  }
  .haut .contenu-exp::before {
    left: 2px !important;
    bottom: 50px !important;
    transform: rotate(90deg);
  }
  .bas .contenu-exp::before {
    transform: rotate(90deg) !important;
    left: auto !important;
    top: 50px !important;
    right: -5px !important;
  }
  .haut::after {
    left: -34px !important;
    bottom: 50px !important;
    margin-left: 0;
  }
  .bas::after {
    left: auto !important;
    top: 50px !important;
    right: -34px !important;
    margin-left: 0;
  }

  .contact {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    background: #fff;
  }

  #contact {
    background: #fff;
    border-top: 1px solid var(--section-light);
  }

  .contact aside {
    border: none !important;
  }

  .contact aside div {
    justify-content: center;
  }

  /*============================================
    ==================== MODAL ===================*/
  .modal-btn {
    border-color: #ccc;
    margin: auto;
  }

  .modalContent {
    width: 100%;
    padding: 0;
  }

  .modalWindow {
    padding-top: 50px;
  }
}
